<%
=begin%>
 <p style="color: green"><%= notice %></p> 
<%
=end%>

<div>
<div>
<table class="table table-striped table-hover table-bordered mt-4 " style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
<thead class="table-dark">
<tr>
  <th> <strong>First name</strong></th>
   <th> <strong>Last name</strong></th>
   <th> <strong>Email</strong></th>
   <th> <strong>Phone</strong></th>
   <th> <strong>Linkedln</strong></th>
   <th>Show</th>
   <%
=begin%>
 <th>Edit</th>
   <th>Delete</th> 
<%
=end%>
  </tr>
  </thead>
  <tbody  id="employees"> 
    <%begin%>
  <% @employees.each do |employee| %>
  <%= render employee %>
  <% end %> 
<%end%>
  <tbody>
  </table>
  
</div>

<%= link_to "New employee", new_employee_path, class:"btn btn-secondary" %>
