<div class="container " >
<h1 class="mb-4 mt-4">Add employee</h1>

<%= render "form", employee: @employee %>

<br>
<div>
  <%= link_to "Back to employees", employees_path, class:"btn btn-secondary" %>
</div>

</div>

